<h1>Edit Question</h1>
<h4><%= @question.title %></h4>
<% if !@errors.nil? %>
  <div class="errors">
    <p><%= @errors.join(", ") %></p>
  </div>
<% end %>
<%= form_for(@question) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, size: @question.title.size %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, size: "60x10" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Question" %>
  </div>
<% end %>
<%= link_to "Delete", question_path(@question.id), class: "button", method: :delete %>
