<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="container">
        <ul class="top-bar-section">
          <li><%= link_to 'Home', questions_path, class: 'button' %></li>
          <% if current_user %>
            <li>Signed in as <%= current_user.name %></li>
            <li><%= link_to "Sign Out", logout_path, method: "DELETE", class: "button" %></li>
          <% else %>
            <li><%= link_to "Sign In", "/auth/github", class: "button" %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
          <a href='?' id='flash-close'>&#10005</a>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
