<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if !current_page?(questions_path) && !current_page?("/") %>
      <%= link_to 'Home', questions_path, class: 'button' %>
    <% end %>
    <%= yield %>
  </body>
</html>
