<!DOCTYPE html>
<html>
  <head>
    <title>RescueMission</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="top-bar">
      <div class="container">
        <a class="logo" href="/">Home</a>
        <% if !current_page?(questions_path) && !current_page?("/") %>
          <%= link_to 'Home', questions_path, class: 'button' %>
        <% end %>

        <ul class="top-bar-section">
          <% if current_user %>
            <li>Signed in as <%= current_user.name %></a></li>
            <li><a href="/sign_out">Sign Out</a></li>
          <% else %>
            <li><a href="/auth/github">Sign In</a></li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- Not implemented yet -->
    <!-- <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
          <a href='?' id='flash-close'>&#10005</a>
        </div>
      </div>
    <% end %> -->

    <%= yield %>
  </body>
</html>
